.App {
  padding-top: 36px;
  text-align: center;
}

 
 .SearchForm-Wrapper{
   display: flex;
   justify-content: center;
 }

 .MoviesList{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 16px;
 }

 .MoviesList-item{
   margin-bottom: 24px;
   margin-left: 2%;
   margin-right: 2%;
   width: 15  %;
   border-radius: 10px;
   background-color: white;
  }

  img{
    border-radius: 10px;
  }

 .MoviesList-item:hover{
     box-shadow: 10px 10px 5px rgb(162,175,168);
     transition: width 1s;
     width: 22%;
    
 }

 